*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    

}

div{

    background-image: url('https://uhdwallpapers.org/uploads/converted/19/07/07/windows-10-hero-redesign-wallpaper-1280x720_899885-mm-90.jpg');
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    padding: 25px 25px 25px 25px;
    text-align: center;
    background-size: cover;
    border:30px green;
}

h1 {
    color: royalblue;
}

h2 {
    color: royalblue;
}

button{
    border-radius: 30px; 
    background-color: violet;
    text-align: center;
    padding: 6px;

}

body{
    width: 100%;
}

