@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

h1{
    font-family: 'Roboto', sans-serif;
}

article{

    background-image: url('https://images.unsplash.com/photo-1519331379826-f10be5486c6f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cGFya3xlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 800px;


}

article{


}